@tailwind base;
@tailwind components;
@tailwind utilities;

/* #info>div {
    border: 1px solid black;
    margin-bottom: 10px;
} */

/* #forecastHour {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
} */

.weatherMorning {
    @apply bg-gradient-to-t from-yellow-200 via-cyan-300 to-sky-500;
}