@tailwind base;
@tailwind components;
@tailwind utilities;

/* #info>div {
    border: 1px solid black;
    margin-bottom: 10px;
} */

/* #forecastHour {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
} */

.icon {
    @apply w-16 h-16
}

.weatherMorning {
    @apply bg-gradient-to-t from-yellow-200 via-cyan-300 to-sky-500;
}

.weatherDay {
    @apply bg-gradient-to-t from-cyan-200 via-sky-400 to-blue-800
}

.weatherEvening {
    @apply bg-gradient-to-t from-fuchsia-400 via-indigo-500 to-indigo-900
}

.weatherNight {
    @apply bg-gradient-to-t from-indigo-700 via-blue-900 to-zinc-900
}

.weatherDayRain {
    @apply bg-gradient-to-t from-slate-200 via-blue-700 to-blue-800
}

.weatherNightRain {
    @apply bg-gradient-to-t from-slate-200 via-sky-600 to-cyan-900
}

.weatherDaySnow {
    @apply bg-gradient-to-t from-slate-400 via-gray-50 to-slate-400
}

.weatherNightSnow {
    @apply bg-gradient-to-t from-slate-200 via-sky-900 to-slate-900
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}